
<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th class="text-center">Fruit </th>
        <th class="text-center">Vote Count</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let fruitList of fruitListings ">
        <td class="text-center" style="width: 200px;">{{fruitList[1]}}</td>
        <td class="text-center" style="width: 200px;">{{fruitList[2]}}</td>

      </tr>
      </tbody>
    </table>

  </div>
  <div class="row">

    <div style="display: block" class="col-md-6">
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

    <div class="col-md-6">
      <canvas baseChart
              [data]="lineChartData"
              [labels]="lineChartLabels"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
      <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
    </div>
  </div>
</div>
